<html>
	<head>
		<meta charset="UTF-8">
		<title>Inzertor</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/resources/css/styles.css">
		<script type="text/javascript" src="/resources/js/scripts.js"></script>
	</head>
	<body>
		<section id="header-row">
			<header id="logo-header">
					<img src="/resources/image/logo.svg" alt="Inzertor" id="logo-image">
			</header>
		
			<form action="form" method="GET" onsubmit="return query();" id="search-form">
				<input type="search" value="<%- keyword ? keyword : '' %>" name="keyword" id="keyword">
				<input type="submit" value="Hledej">
			</form>
			
			<div id="login-panel">
				<!-- TODO if logged ... -->
				<a href="#">Přihlášení</a>
				<a href="#">Registrace</a>
				
			</div>
		</section>

		<main>
		<% if (keyword) { %>
			<!--<h2>Výsledky hledání pro dotaz "<%= keyword %>"</h2>-->
		
			<% if (items.length == 0) { %>
				<div class="panel">
					Pro dotaz <%- keyword %> nebylo nic nalezeno.
				</div>
				
			<% } else { %>
				<div id="order-by-panel">
					<label>Seřadit podle:</label>
					<select name="order-by">
						<option value="nejnižší ceny">nejnižší ceny</option>
						<option value="nejvyšší ceny">nejvyšší ceny</option>
					<select>
				</div>			
				<ul id="results">
					<% items.forEach(function(item){ %>
						<li class="result-item">
							<a href="<%- item.url %>" target="_blank">
								<div class="item-image-part">
									<img src="<%- item.image ? item.image : '/resources/image/no-image.svg' %>" alt="preview" class="result-item-image">
									<span class="result-item-portal"><%- item.portal %></span>
								</div>
							
								<h3><%- item.title %></h3>
								<div>
								<% var date = item.date ? new Date(item.date) : null; %>
									<span><%- item.type ? item.type : "Typ inzerátu nespecifikován" %></span>,
									<span><%- date ? (date.getDate() + ". " + (date.getMonth() + 1) + ". " + date.getFullYear()) : "Datum inzerátu neuvedeno" %></span>,
									<span><%- item.place ? item.place : "Místo neuvedeno" %></span>,
									<span><%- item.cost ? item.cost : "Cena neuvedena" %></span>,
								</div>
						
								<p>
									<%- item.desc ? item.desc : "Žádný popis" %>
								</p>
							</a>
							<span class="float-clean"></span>
						</li>
					<% }); %>	
				</ul>
				
			<% } %>
		<% } else { %>
			<div class="panel">
				Inzertor, nezávislý vyledávač inzercí. A tak.
			</div>
		<% } %>
		</main>
	</body>
</html>
		
